body {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    min-height: 100vh;
    margin: 0;
}
#header {
    justify-content: space-between;
    background-color: coral;
    box-sizing: border-box;
    padding: 15px;
    min-height: 120px;
    display: flex;
    flex-direction: row;
}
#x {
    order: 2;
    width: 25%;
    text-align: center;
    vertical-align: middle;
}
#under {
    flex: 1;
    flex-grow: 3;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
#other{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#content {
    order: 1;
    flex-grow: 2;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
#left {
    width: 50%;
    background-color: cornflowerblue;
    box-sizing: border-box;
    padding: 15px;
}
#leftcol1 {
    border-style: none none solid none;
    box-sizing: border-box;
    height: auto;
}
#leftcol2 {
    box-sizing: border-box;
    height: auto;
}
#center {
    order: 2;
    flex-grow: 3;
    box-sizing: border-box;
    padding: 15px;
}
#right {
    order: 2;
    width: 55%;
    background-color: crimson;
    box-sizing: border-box;
}
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
  background-color: brown;
  color: white;
}
#footer {
    order: 2;
    background-color: coral;
    box-sizing: border-box;
    padding: 15px;
    min-height: 120px;
    margin-top: auto;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
h2 {
    font-family: Georgia, Times, serif;
}
img {
    width: 100%;
}
